package ${package}.${moduleName}.dao;
import org.springframework.stereotype.Repository;
/**
 * 数据库访问层
 * 作者: ${author}
 * 邮件: ${email}
 * 日期: ${datetime}
 */
@Repository
public class ${className}Dao {
	
}
